
/cmake-build-debug/Part1
/cmake-build-debug/Part2
/cmake-build-debug/Part3
/cmake-build-debug/Part4
/cmake-build-debug/Part5
/cmake-build-debug/TeamProject-COMP345.cbp
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/.idea/workspace.xml
*.DS_STORE
*.xml
*.log
/cmake-build-debug/
